.Helpline_and_icon {
    background-color:#043665;
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;

}
.Helpline{
    color: #F7901E;
    text-align: left;
    height: 3ch;
    

    
}

.icons-list{
    position: absolute;
  right: 0;
  color: #F7901E;
 

}



